@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
	font-family: "Poppins", sans-serif;
}

.dash--bg {
	background: rgba(219, 120, 45, 0.12);
	border-radius: 10px;
}

label input[type="radio"] {
	display: none;
}
label input[type="radio"] ~ span {
	position: relative;
	display: inline-block;
	padding: 3px 0 3px 25px;
}
label input[type="radio"] ~ span:before {
	content: "";
	position: absolute;
	display: block;
	width: 18px;
	height: 18px;
	background: #fff;
	margin-right: 5px;
	border: 1px solid #ccc;
	border-radius: 50%;
	left: 0;
	top: 0;
	box-sizing: border-box;
	transition: all 300ms ease-in-out;
}
label input[type="radio"]:checked ~ span:before {
	border: 3px solid #1abcb0;
}

.CircularProgressbar .CircularProgressbar-text {
	font-weight: 700;
}

.custom-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.outer-r {
	position: relative;
	border-radius: 99px;
	padding: 15px;
}

.outer-profit-r {
	border: 2px solid #f3b74c;
}

.outer-margin-r {
	border: 2px solid #7690e5;
}

.outer-lost-r {
	border: 2px solid #46ca83;
}

.outer-other-r {
	border: 2px solid #e96559;
}

.inner-r {
	border-radius: 99px;
	width: 12px;
	height: 12px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.profit-r {
	background-color: #f3b74c;
}

.margin-r {
	background-color: #7690e5;
}

.lost-r {
	background-color: #46ca83;
}

.other-r {
	background-color: #e96559;
}

.page-m {
	width: 30px;
	height: 30px;
	background: #f5832b;
	border-radius: 5px;
}

.page-r {
	width: 30px;
	height: 30px;
	border: 1px solid #f5832b33;
	border-radius: 5px;
}

.paid {
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 12px;
	color: white;
	background: #3bdd9d;
}

.done {
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 12px;
	color: #3bdd9d;
	border: 1px solid #3bdd9d;
	background-color: #3bdd9c30;
}

.fail {
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 12px;
	color: white;
	background: #e96559;
}

.failed {
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 12px;
	color: #e96559;
	border: 1px solid #e96559;
	background-color: #e9655930;
}

.process {
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 12px;
	color: white;
	background: #f6ac41;
}

.processing {
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 12px;
	color: #f6ac41;
	border: 1px solid #f6ac41;
	background-color: #f6ab4130;
}
