@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
	font-family: "Poppins", sans-serif;
}

.dash--bg {
	background: rgba(219, 120, 45, 0.12);
	border-radius: 10px;
}

label input[type="radio"] {
	display: none;
}
label input[type="radio"] ~ span {
	position: relative;
	display: inline-block;
	padding: 3px 0 3px 25px;
}
label input[type="radio"] ~ span:before {
	content: "";
	position: absolute;
	display: block;
	width: 18px;
	height: 18px;
	background: #fff;
	margin-right: 5px;
	border: 1px solid #ccc;
	border-radius: 50%;
	left: 0;
	top: 0;
	box-sizing: border-box;
	transition: all 300ms ease-in-out;
}
label input[type="radio"]:checked ~ span:before {
	border: 3px solid #1abcb0;
}

.CircularProgressbar .CircularProgressbar-text {
	font-weight: 700;
}

.custom-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.outer-r {
	position: relative;
	border-radius: 99px;
	/* border: 2px solid red; */
	padding: 15px;
}

.outer-profit-r {
	border: 2px solid #f3b74c;
}

.outer-margin-r {
	border: 2px solid #7690e5;
}

.outer-lost-r {
	border: 2px solid #46ca83;
}

.outer-other-r {
	border: 2px solid #e96559;
}

.inner-r {
	border-radius: 99px;
	width: 12px;
	height: 12px;
	/* background-color: rebeccapurple; */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.profit-r {
	background-color: #f3b74c;
}

.margin-r {
	background-color: #7690e5;
}

.lost-r {
	background-color: #46ca83;
}

.other-r {
	background-color: #e96559;
}
